# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# env (secrets)
.env
.env.local
.env*.local
data/local-secrets.json

# debug
npm-debug.log*

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
tsconfig.tsbuildinfo

# vercel
.vercel
